.btn
	width: 220px
	height: 55px
	background: $gold
	display: flex
	justify-content: center
	align-items: center
	margin-top: 30px
	color: #000
	cursor: pointer
	&:hover
		background: $gold-hover
		color: #fff
	&_portfolio
		background: #000
		border: 1px solid $gold
		color: $gold
		&.active
			background: $gold
			color: #000
	&_price
		margin: 0 auto
		margin-top: 40px
	&_contacts
		margin-top: 27px
		border: none
	&_promo
		transform: translate(0px, 120%)
		opacity: 0
		transition: all 0.8s ease 0s
		&.active
			transform: translate(0px, 0%)
			opacity: 1
			transition: all 0.8s ease 0.8s
