.promo
	min-height: 910px
	background: url(../img/bg.jpg) center center/cover no-repeat
	&__nav
		width: 500px
		margin-right: 10px
	&__menu
		display: flex
		justify-content: space-between
		padding: 0 30px
	&__link
		&.active
			a
				color: $gold
		&:hover
			a
				color: $gold
	&__wrapper
		margin-top: 180px
		margin-left: 80px
		width: 490px
	&__descr
		line-height: 40px
		margin-top: 30px
	&__logo
		svg
			fill: #fff
			width: 50px
			height: 50px
			&:hover
				fill: $gold
.active_lang
	color: $gold

.header
	position: relative
	height: 90px
	padding: 20px
	padding-top: 13px
	display: flex
	justify-content: space-between
	align-items: center
	&__wrapper
		display: flex
		align-items: center
h1
	font-family: 'Merriweather'
	font-weight: 700
	font-size: 60px